<div class="bs-devshop__guarantee">
  <ul class="bs-devshop__flex bs-devshop__justify-center">
    <li class="bs-devshop__flex bs-devshop__align-item-center">
   <img src="{{ 'Pennant.png' | asset_url }}"> Money-back guarantee
    </li>
     <li class="bs-devshop__flex bs-devshop__align-item-center">
  <img src="{{ 'In-Transit.png' | asset_url }}"> Free 3 day shipping in US
    </li>
  </ul>
</div>