<div class="bs-devshop__delivery ">
  <ul class="bs-devshop__flex bs-devshop__justify-center">
    <li class="bs-devshop__flex bs-devshop__align-item-center">
   {% render 'icon-truck' %} FAST DELIVERY
    </li>
    <li>Ships the same day.</li>
  </ul>
</div>