<div class="bs-devshop__product-subscription">
<h5 class="bs-devshop__family">Pick your purchase option:</h5>
<ul>
<li class="bs-devshop__relative bs-devshop__one-time-wrap active">
  <div class="bs-devshop__option bs-devshop__radio bs-devshop__one-time bs-devshop__family bs-devshop__flex  bs-devshop__space-between">
     <div class="bs-devshop__option-left">One time purchase</div>
     <div class="bs-devshop__option-right">{{ product.selected_or_first_available_variant.price | money }}</div>
  </div>
</li> 

<li class="bs-devshop__relative bs-devshop__subscription-wrap">
  <div class="bs-devshop__option bs-devshop__radio bs-devshop__subscribe bs-devshop__family bs-devshop__flex  bs-devshop__space-between">
     <div class="bs-devshop__option-left">Upgrade to sub & <font>save 10%</font>!
     <span>Get Sabre consistently and never run out of peak performance. Cancel anytime.</span>
     </div>
     {% assign offPrice = product.selected_or_first_available_variant.price | times: 10 | divided_by: 100 %}
     <div class="bs-devshop__option-right">
       <div class="bs-devshop__option-price-cover bs-devshop__flex bs-devshop__align-item-center">
       <span><span class="bs-devshop__off-price">{{ offPrice | money }}</span> off!</span>
       <del class="bs-devshop__compare-price">{{ product.selected_or_first_available_variant.compare_at_price | money }}</del>
       </div>
       <span class="bs-devshop__subscribe_price">{{ product.selected_or_first_available_variant.price | minus: offPrice | money}}</span>
       <p class="bs-devshop__delivery-frequancy"></p>
     </div>
  </div>
</li> 
  <li class="bs-devshop__shadow">&nbsp;</li>
</ul>
</div>